<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="(localdb)MSSQLLocalDB" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\MSSQLLocalDB;integrated security=SSPI;initial catalog=" />
        <add name="(localdb)MSSQLLocalDBDemo3" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\MSSQLLocalDB;user id=sa;password=huykute2002;initial catalog=Demo3;Persist Security Info=true" />
    </connectionStrings>
</configuration>